html {
  font-family: 'Roboto', sans-serif;
}

*:focus {
    outline: none;
}

#request {
  display:none;
}

#content {
  display: inline-block;
  width:400px;
  padding:10px;
}

#content input {
  width:100%;
}

#header {
  font-size: 22px;
  text-align: center;
  font-weight: bolder;
}

.break {
  width:100%;
  border-bottom: 1px solid lightgrey;
  margin-bottom:10px;
  margin-top: 10px;
}

#message {
  color:grey;
  padding:10px;
  font-size:14px;
  text-align: center;
}

#add-streamer {
  font-weight: bold;
  position: relative;
  left:50%;
  transform:translateX(-50%);
  color: #9ad449;
  border: solid #9ad449 2px;
  text-decoration: none;
  padding:5px;
  border-radius:20px;
  background:none;
  cursor: pointer;
}

#add-streamer:hover {
  color: #9de33b;
  border: solid #9de33b 2px;
}

form select {
  margin-left:0px;
  width:260px;
  height:30px;
  position: relative;
  background:white;
  left:50%;
  transform:translateX(-50%);
}

#request-submit {
  width:75px;
  font-weight: bold;
  border:2px solid black;
  color:black;
  position: relative;
  left:50%;
  transform:translateX(-50%);
  text-decoration: none;
  padding:5px;
  border-radius:20px;
  background:none;
  cursor: pointer;
}

#request-submit:hover {
  background:black;
  color:white;
}

.success {
  text-align: center;
}

form {
  padding:10px;
}
form > * {
  margin:10px;
}

#live-data {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top:15px;
  background:rgb(245,245,245);
}

.team {
  width:50%;
}

.player {
  height:30px;
  margin:5px;
}

.name {
  font-weight: bold;
  width:110px;
  position: relative;
  top:50%;
  transform:translateY(-50%);
}

#blue .name {
  margin-left:5px;
}

#red .name {
  margin-left:5px;
}

#vs {
  font-size:20px;
  color:black;
  margin-top:78px;
  text-align: center;
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  padding:5px;
  border-radius: 50%;
}

#blue > .player {
  border:1px solid rgba(0,116,255,0.2);
  background:rgba(0,116,255,0.1);
}

#red > .player {
  border:1px solid rgba(255,0,0,0.2);
  background:rgba(255,0,0,0.1);
}

#blue {
  margin-right:20px;
}

#red {
  margin-left:20px;
}
