html, body {
  font-family: 'Roboto', sans-serif;
  padding:0;
  margin:0;
  height:260px;
}

*:focus {
    outline: none;
}

#request {
  display:none;
}

#nav {
  width:100%;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

#nav i{
  margin:10px;
  margin-left:60px;
  margin-right:60px;
  color:lightgrey;
}

.active {
  color:black !important;
}

#nav i:hover {
  color:grey;
  cursor: pointer;
}

#content {
  width:400px;
  height:260px;
}


#content input {
  width:100%;
}

#header {
  padding:10px;
  font-size: 22px;
  text-align: center;
  font-weight: bolder;
}

.break {
  width:100%;
  border-bottom: 1px solid lightgrey;
  margin-bottom:10px;
  margin-top: 10px;
}

#message {
  color:grey;
  padding:10px;
  font-size:14px;
  text-align: center;
}

#sub-message {
  color:maroon;
  padding:6px;
  font-size:12px;
  font-weight: 500;
  text-align: center;
}

#summoners {
  margin-top:10px;
  border:1px solid rgb(240,240,240);
  box-shadow: 0px 0px 100px rgb(245,245,245);
  display: none;
  height:150px;
  width:200px;
  position: relative;
  left:50%;
  transform: translateX(-50%);
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
}

.summoner-item {
  width:200px;
  position: relative;
  left:50%;
  transform: translateX(-50%);
  padding:2px;
}

#add-streamer {
  font-weight: bold;
  position: relative;
  left:50%;
  transform:translateX(-50%);
  color: #9ad449;
  border: solid #9ad449 2px;
  text-decoration: none;
  padding:5px;
  border-radius:20px;
  background:none;
  cursor: pointer;
}

#add-streamer:hover {
  color: #9de33b;
  border: solid #9de33b 2px;
}

form select {
  margin-left:0px;
  width:360px;
  height:30px;
  position: relative;
  background:white;
  left:50%;
  transform:translateX(-50%);
}

#request-submit {
  width:75px;
  font-weight: bold;
  border:2px solid black;
  color:black;
  position: relative;
  left:50%;
  transform:translateX(-50%);
  text-decoration: none;
  padding:5px;
  border-radius:20px;
  background:none;
  cursor: pointer;
}

#request-submit:hover {
  background:black;
  color:white;
}

.success {
  text-align: center;
  color:darkgreen;
  font-size:12px;
}

form {
  padding:10px;
}
form > * {
  margin:10px;
}

#loader {
  width:100px;
  position: relative;
  left:50%;
  transform: translateX(-50%);
}

#live-data {
  display: none;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top:15px;
}

.team {
  width:50%;
}

.player {
  display: -webkit-flex;
  display: flex;
  height:30px;
  margin:5px;
  cursor: pointer;
}

.name {
  font-weight: bold;
  width:115px;
  position: relative;
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:column;
}

#blue > .player {
  border:1px solid rgba(0,116,255,0.2);
  background:rgba(0,116,255,0.1);
  padding-left:5px;

}

#red > .player {
  padding-left:5px;
  border:1px solid rgba(255,0,0,0.2);
  background:rgba(255,0,0,0.1);
  display: flex;
  flex-direction: row-reverse;
}

#blue {
  margin-right:10px;
}

#red {
  margin-left:10px;
}

#red .name {
  margin-left:4px;
}

.champion-img {
  height:26px;
  position: relative;
  top:50%;
  transform:translateY(-50%);
}

.summoner-spells {
  display: flex;
  flex-direction: column;
  height:100%;
  align-items: center;
  justify-content: center;
}

.spells-img {
  height:13px;
}

.tier {
  width:30px;
}

#modal {
  display: none;
  width:300px;
  height:275px;
  background:rgb(240,240,240);
  box-shadow: 0px 0px 30px rgb(200,200,200);
  position:absolute;
  left:50%;
  top:50%;
  transform: translateX(-50%)translateY(-50%);
  padding:5px;
  z-index:2000;
}

.mask {
   display: none;
   width: 100%;
   height: 100%;
   z-index: 1000;
   padding: 0px;
   margin: 0px;
   background: transparent url(http://i.imgur.com/0KbiL.png);
   position: fixed;
   top: 0px;
   overflow: hidden;
}

#modal-header {
  display: flex;
  justify-content: center;
  margin: 0;
  width:100%;
  border-bottom:1px solid rgb(230,230,230);
}

#modal-header > h2 {
  margin-left:10px;
}

#modal-champion-img {
  position: relative;
  top:50%;
  transform: translateY(30%);
  width:30px;
  height:30px;
}

#modal-tabs {
    margin-top:10px;
    display: flex;
    justify-content: center;
}

.modal-tab-item {
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 10px;
  border-bottom: 1px solid gainsboro;
  cursor: pointer;
}

.tab-item-selected {
    border-bottom: 2px solid black;
}

.modal-content {
  padding:5px;
}
